.navContainer {
  padding: 1rem 3rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);

  span {
    form {
      width: 400px;
      height: 40px;
      top: 30px;
      left: 343px;
      gap: 0px;
      border-radius: 8px;
      border: 1px;
      opacity: 0.2px;
    }
  }

  .firstContent {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .secondContent {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  button {
    background-color: var(--quaternary-color);
    width: 56px;
    height: 40px;
    border-radius: 0;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
}
