@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #213F7D; 
  --secondary-color: #ffffff;
  --text-color: #545F7D;
  --text-color2: #213f7d;
  --nav-color: #888888;
  --quaternary-color: #39CDCC;
  --quinary-color: #db2b39;
  --senary-color: #545F7D;
  --danger-color: red;

  --body-bg: #fdfdfb;


  --body-font: 'Inter', sans-serif;

  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

#__next {
  height: 100%;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--body-text);
  font-weight: var(--regular);
  font-family: var(--body-font);
  background-color: var(--body-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
textarea {
  font-family: inherit;
  border: 1px solid #e2e4e9;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 16px;
  font-weight: var(--medium);
  background-color: transparent;
}

.button-fill {
  padding: 12px 24px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.button-outline {
  padding: 12px 24px;
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
}

.flex,
.flex-fluid {
  display: flex;
}

.flex-col,
.flex-fluid {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.align-x {
  justify-content: center;
}

.align-y {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.grid-3 {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-inline: 1rem;

  @media (min-width: 768px) {
    padding-inline: 2rem !important;
    
    .flex-fluid {
      flex-direction: row;
    }
  }

  @media (min-width: 1024px) {
    padding-inline: 3rem;
  }
}
