$quartenary-color: var(--quaternary-color);
$text-color: var(--text-color);
$bold: var(--bold);
$secondary-color: var(--secondary-color);
$heading-font: var(--heading-font);
$primary-color: var(--primary-color);
$regular: var(--regular);

.signIn {
  height: 100vh;
}

.logo {
  padding: 4rem;
  width: 100%;
  justify-content: space-between;

  svg {
    margin-left: 0.5rem;
  }
}

.authWrapper {
  height: 100%;
  // align-items: center;
  justify-content: center;
  gap: 3rem;

  img {
    display: none;
  }

  h1 {
    line-height: 54px;
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: $bold;
    color: $primary-color;
    font-family: $heading-font;
  }

  p {
    font-weight: $regular;
    font-size: 20px;
    line-height: 27.32px;
    color: $text-color;
  }
}

.form {
  gap: 16px;

  button {
    margin-top: 4px;
    padding: 12px 24px;
    color: $secondary-color;
    background: $quartenary-color;
  }
}

@media screen and (min-width: 768px) {
  .authWrapper {
    gap: 0;

    img {
      display: flex;
    }
  }
}
