
.layout {
  display: flex;
  height: 100vh;

  .mainContent {
    flex: 1;
    margin-top: 150px;  
    margin-left: 250px; 
    padding: 20px;
    overflow-y: auto;
    width: calc(100% - 250px);
  }

  @media (max-width: 768px) {
    .mainContent{
    margin-left: 80px; 
    padding: 0;
    }
  }
}
